
#pin0 {
    position: absolute;
    top: 190px;
    left: 205px;
    padding: 12px 12px;
    z-index: 98;
}

#pin1 {
    position: absolute;
    top: 45px;
    left: 173px;
    padding: 12px 12px;
    z-index: 98;
}

#pin2 {
    position: absolute;
    top: 299px;
    left: 443px;
    padding: 12px 12px;
    z-index: 98;
}

#pin3 {
    position: absolute;
    top: 350px;
    left: 215px;
    padding: 12px 12px;
    z-index: 98;
}

#pin4 {
    position: absolute;
    top: 293px;
    left: 130px;
    padding: 12px 12px;
    z-index: 99;
}

#pin5 {
    position: absolute;
    top: 310px;
    left: 382px;
    padding: 12px 12px;
    z-index: 98;
}

#pin6 {
    position: absolute;
    top: 325px;
    left: 35px;
    padding: 12px 12px;
    z-index: 99;
}

#pin7 {
    position: absolute;
    top: 330px;
    left: 125px;
    padding: 12px 12px;
    z-index: 98;
}

#pin8 {
    position: absolute;
    top: 427px;
    left: 145px;
    padding: 12px 12px;
    z-index: 98;
}

#pin9 {
    position: absolute;
    top: 142px;
    left: 187px;
    padding: 12px 12px;
    z-index: 98;
}

.bounce-in-top{
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    color: black !important;
    background-color: #F3E35F !important;
    border-radius: 5px;
    display: inline-block;
}
